/* rpgHome.css */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
body{
    background-color: rgb(228, 220, 211);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

}
.heading{
       background-color: rgb(238, 238, 198);
        display : flex;
    

}
.heading h1{
    margin-left: 50px;
    margin-top: 5px;
    cursor: pointer;
    /* background-color: rgb(238, 238, 198); */
}

ul{
    display: flex;
    padding-left: 20px;
    margin-left: 1000px;
    margin-top:20px;
    list-style: none;
}
li{
    padding-left: 50px;
    cursor: pointer;
}
.img{
margin-top:-315px;
margin-left : 750px;
height :95vh;
width: 50vw;
left :750px;
}
.text {
    margin-left : 50px;
    margin-top: 120px;
}
.text h1{
    font-size: 50px;
}
.text button{
    height: 50px;;
    width: 200px;
    background-color: antiquewhite;
    margin-left: 60px;
    margin-top: 30px;
    cursor: pointer;


}